/** inside  of course **/
ul.topics, ul.weeks {
	margin: 0px;
}

.path-course-view .course-content li.section {
    border: 1px solid #eee;
}

.path-course-view .course-content .side {
    padding: 5px 0;
}

#page-course-view-weeks .weekdates {
    font-size: 1em;
    font-weight: normal;
    color: #777;
    padding: 2px;
}

.course-content .main {
  background:#fff;
 }

/*current topic hightlight */
.course-content .current {
  background:#F8B231;
 }

.course-content .current .left.side {
	color: #333;
} 
 
.course-content .main .content {
    padding: 10px;
    background:#fff;
}


span.completionprogress {
    font-size: 11px;
    font-weight: 200;
}

