/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) 0 0 no-repeat;
    background-size: contain;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Get rid of logo banner on index page*/
#page-site-index>#page>#page-header {
    display:none !important;
}

/*changes color of navbar dropdown items when not in mobile*/
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background-color: #1B539D !important;
    background-image: none !important;
}

/*change button format*/
input[type="submit"], input[type="text"]+button, .fp-upload-btn.btn-primary {
    background-color: #0070a8 !important;
    background-image: none !important;
    color: #fff !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
/*     font-family: "Gotham A","Gotham B",Helvetica,Arial,sans !important; */
    border: 0px solid #fff !important;
    text-shadow: 0 0px 0px #fff !important;
    box-shadow: inset 0 1px 0 #fff, 0 0px 0px #fff !important;
}
#rubric-criteria input {
    font-size: 12px;
}

/*change all fonts*/
body, h2, h3, h4, h5, h6, strong {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

/*.navbar-inner.noshadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}*/

/*navbar background*/
.navbar-inner{
    background-color:#11315b !important;
    background-image:none !important;
    border-color:#11315b !important;
    box-shadow: none !important;
}

/*title color*/
.navbar-inverse .brand {
    color:#fff !important;
    text-shadow: none;
    z-index: 20 !important;
}

/*nav items color*/
.navbar-inverse .nav>li>a {
    color: #fff !important;
    text-shadow: none !important;
}
.navbar-inverse .nav>li>a:hover {
    background-color: #17427A !important;
    text-decoration: none !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/*make fonts bigger*/
h1 {
    font-size: 18px !important;
}
h2 {
    font-size: 13px !important;
    color: #555 !important;
}
h3 {
    font-size: 15px !important;
}

h5 {
    font-size: 13px !important;
}

/*username color*/
.navbar-inverse .usermenu .moodle-actionmenu .userbutton .usertext{
    color:#fff !important;
    text-shadow: none !important;
}

/*caret on dropdowns*/
.caret {
    border-top-color: #fff !important;
}

/*nav color on hover*/
a:hover, a:focus{
    color: #0070a8;
}


/*changes toolbar "BU Moodle" to bethel logo*/
.brand {
    background: url(https://cdn1.bethel.edu/images/logo--moodle.png);
    height: 30px;
    background-size: 210px 30px;
    width: 210px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
}

/*Moves the toolbar text down*/
.nav {
    margin-top: 5px !important; 
}
.usermenu {
    margin-top: 5px !important;
}

/*resize toolbar divider*/
.nav > .divider {
    height: 50px !important;
    margin-top: -5px;
}



/*changes color of username dropdown items*/
.align-tr-br>li>a:hover {
    background-color: #1B539D !important;
    background-image: none !important;
}

/*changes color of navbar item when clicked*/
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle {
    background-color: #17427A !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/*changes color of username button when clicked*/
.jsenabled .navbar-inverse .usermenu .moodle-actionmenu.show {
    background-color: #17427A !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/*changes the color of divider in navbar*/
.nav .divider {
    display: none;
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

/*changes color of headers*/
h2, h2, h4, h5, h6, strong {
    color: #555;
/*     font-family:"Gotham A","Gotham B",Helvetica,Arial,sans !important; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 500 !important;
}
h3 {
/*     font-family:"Gotham A","Gotham B",Helvetica,Arial,sans !important; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 500 !important;
}

/*changes color of body text*/
body {
    color: #555 !important;
/*     font-family:"Gotham A","Gotham B",Helvetica,Arial,sans !important; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400 !important;
}

/*changes color of block headers*/
.block .header h2 {
    color: #555
}

/*changes color of words "Log in"*/
.navbar-inverse .usermenu .login a {
    color: #fff
}

/*changes color of words "You are not logged in"*/
.navbar-inverse .usermenu .login {
    color: #fff
}

/*changes block background colors*/
.block, .breadcrumb {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-color: #eee;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
}

/*changes course box colors*/
.coursebox {
    border: 1px solid #eee !important;
    background-color: #fff !important;
}

/*changes course box colors on hover*/
.coursebox:hover {
    background-color: #f5f5f5 !important;
}

/*changes color of mobile drawer button*/
.navbar-inverse .btn-navbar {
    background-image:none;
    background-color:#17437d;
}
.navbar-inverse .btn-navbar:hover {
    background-image: none;
    background-color: #17437d;
}
.navbar-inverse .btn-navbar.active {
    background-color: #17427A;
}

.navbar-inverse .btn-navbar.active {
    background-color: #17437d !important;
}

/*change color of toolbar options on mobile*/
@media (max-width: 979px) {
.navbar-inverse .nav-collapse .nav>li>a:hover, .navbar-inverse .nav-collapse .nav>li>a:focus {
    background-color: #11315b !important;
}
.navbar-inverse .nav-collapse .nav>li>ul.dropdown-menu>li>a:hover, .navbar-inverse .nav-collapse .nav>li>ul.dropdown-menu>li>a:focus {
    background-color: #11315b !important;
}
.navbar-inverse .nav-collapse .nav>.open>ul.dropdown-menu>li.open>a {
    background-color: #17427A !important;
}
.navbar-inverse .nav-collapse .nav>.open>ul.dropdown-menu>li.open>ul.dropdown-menu>li>a:hover, .navbar-inverse .nav-collapse .nav>.open>ul.dropdown-menu>li.open>ul.dropdown-menu>li>a:focus {
    background-color: #11315b !important;
}}

/*@Media stuff*/
@media (min-width: 980px){
.row-fluid .desktop-first-column {
  margin-left: 0 !important;
}}
@media (max-width: 979px) and (min-width: 980px){
.row-fluid .span4 {
  width: 31.491712707182323% !important;
}}
@media (max-width: 979px){
[class*="span"], .row-fluid [class*="span"] {
  display: block !important;
  float: none !important;
  width: 100% !important;
  margin-left: 0 !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}}
@media (max-width: 979px){
.row-fluid .desktop-first-column {
  clear: right !important;
}}
@media (max-width: 979px){
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
  display: block !important;
  float: none !important;
  width: 100% !important;
  margin-left: 0 !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}}
@media (max-width: 979px){
.nav > .divider {
    height:0px !important;
}
/*drawer items no longer bold*/
.nav-collapse .nav>li>a {
    font-weight: normal !important;
}}
@media (max-width: 979px){
.navbar-inverse .nav-collapse .dropdown-menu a {
    color: #fff;
}
.dropdown-toggle:after{
    border-top-color: #fff !important;
    border-top:4px solid #fff !important;
}
.nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus, .nav-collapse .dropdown-submenu a:focus, .nav-collapse .dropdown-submenu a:hover, .nav-collapse .dropdown-submenu a:active, .nav-collapse .dropdown-menu>li>a:hover, .nav-collapse .dropdown-menu>li>a:focus{
    color: #fff;
}
.navbar-inverse {
    position: relative;
}
.dockeditem_container{
    margin-top: 68px !important;
}}
/*Fix spacing when in mobile*/
@media (max-width: 500px) {
.usertext{
    display: none !important;
}}

/*moves body over if there is a dock*/
body.has_dock > #page {
  margin-left: 20px;
}

@media (min-width: 980px){
/*Underline links when not in mobile*/
a:hover{
    text-decoration: underline !important;
    color: #0070a8;
}
.nav-collapse>.nav>li:hover, .usermenu>.moodle-actionmenu>ul>li>a.toggle-display:hover{
    background-color: #17427A;
    text-decoration: none !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/*username button underline on hover
.toggle-display:hover>.userbutton>.usertext{
    text-decoration: underline !important;
}*/}

/*change docked bars*/
.dockedtitle {
    background-image: none !important;
    box-shadow: inset 0 0px 0 #fff, 0 0px 0px #fff !important;
    background-color: #11315b !important;
    border-color:#11315b !important;
}

.dockedtitle:hover, .activeitem {
    background-color: #17427A !important;
}

/*change dock text*/
.css3transform {
    color: #fff !important;
    text-shadow: 0 0px 0px #fff !important;
    font-weight: normal !important;
}

/*color dock background*/
.dock_left_vertical {
    background-color: #11315b !important;
}

/*header boarder*/
#page-header {
    border-bottom: 3px solid #ddd;
}
#page-content {
    margin-top: 10px;
}

/*Format of Library Block*/
.block .content h3 {
    color: #fff;
    text-shadow: 0 0px 0 #fff;
}
.fancylist li:before {
    content: url('https://moodle.bethel.edu/theme/image.php/bethel/core/1373533932/i/navigationitem') !important;
}
.wrapper>div.image>a>img {
    height: 33px;
}

/*header of docked items*/
.dockeditempanel_hd>.commands {
    margin-top: -20px !important;
}

/*gets rid of moodle logo at the bottom of site*/
.sitelink {
    display: none;
}

/*change highlight for current week*/
.section.main.current {
    background: none;
}
.section.main.current > .content {
    border-left: 10px solid #0070a8;
    border-right: 10px solid #0070a8;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.section-cm-edit-actions > .menubar > li > .toggle-display > .caret {
    border-top-color: #0070a8 !important;
}
.current>.content>.addresourcemodchooser>.mdl-right>div>span.section-modchooser-link {
    margin-right: 10px
}

/*changes colors for editing boxes*/
.moodle-dialogue-hd {
    background-image: none !important;
    background-color: #f5f5f5 !important;
}
.alloptions {
    box-shadow: none !important;
}

/*fix in course updates box*/
.block_recent_activity>.content>h3 {
    color: #555;
}

/*navbar styling*/
.navbar-inverse {
    border-bottom: 3px #fff solid;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 12001;
}

/*popup styling*/
#dndupload-status {
    background-color: #555;
    border: 1px solid #eee;
    color: #fff;
}

/*fix collapsed weeks*/
.content {
    margin: 0 10px !important;
}

/*make b and strong tags the same*/
.b {
    font-weight: 700;
}
.strong {
    font-weight: 700;
}

/*make docked items in front navbar*/
.oversized_content {
    top: -95px !important;
}

/*fix Library Block*/
.block .content h3 {
    text-transform: none;
}
h3.menuheader.expandable {
    font-size: 14px !important;
    font-size: 400 !important;
}
h3.menuheader.expandable:hover {
    background-color: #0069aa;
}

/*fix quiz format*/
@media(min-width: 481px) {
.formulation {
    margin-left: 20px !important;
}
.answer {
    margin-left: 70px;
}
.qtext {
    margin-left: 75px;
}
.prompt {
    margin-left: 75px;
}}

/*fix horizontal rule*/
hr{
    border-width: medium !important;
    border-bottom: 3px solid #ddd;
    border-top: none;
}

/*table formatting*/
.editor_atto_content>table {
    min-width: 100%;
    border: 1px solid #000;
}
.editor_atto_content>table>caption {
    border: 1px solid #000 !important;
}
.editor_atto_content>table>tbody>tr>td {
    border: 1px solid #000 !important;
}
.editor_atto_content>table>thead>tr>th {
    border-right: 1px solid #000 !important;
}
.section>.content>.summary>.no-overflow>table {
    min-width: 100%;
    border: 1px solid #000;
}
.section>.content>.summary>.no-overflow>table>caption {
    border: 1px solid #000 !important;
}
.section>.content>.summary>.no-overflow>table>tbody>tr>td {
    border: 1px solid #000 !important;
}
.section>.content>.summary>.no-overflow>table>thead>tr>th {
    border-right: 1px solid #000 !important;
}

/*image Header formatting*/
.content>.summary>.no-overflow {
    width: 100%;
}
/*.content>.summary>.no-overflow>p>img.img-responsive {
    margin: 0 !important;
}*/
.content>.summary>.no-overflow>img.img-responsive {
    margin: 0 !important;
}

/*fix assignment header*/
div[role=main]>h2{
    font-size: 18px !important;
}

/*darkens hidden blocks*/
.course-content ul li.section.hidden{
    opacity: 1;
}
.dimmed_text {
    color: #999 !important;
}

/*fixes problem with editing grading rubric*/
.criteria>tbody>.criterion>.controls>div>input {
    text-indent: 0em !imporant;
    width: 135px !important;
    height: 30px !important;
}
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .level .delete {
    margin-top: 0px;
}
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .level .delete input {
    width: 100px;
    height: 30px;
}
.criteria>tbody>.criterion>.controls>.movedown>input {
    text-indent: 0em;
}
.criteria>tbody>.criterion>.controls>.delete>input {
    text-indent: 0em;
}
.criteria>tbody>.criterion>.controls>.moveup>input {
    text-indent: 0em;
}
.criteria>tbody>.criterion>.controls>.duplicate>input {
    text-indent: 0em;
}
.criteria>tbody>.criterion>.levels>table>tbody>tr>td>.level-wrapper>.delete>input {
    text-indent: 0em;
}
.gradingform_rubric {
    width: 1000px !important;
}

/**Fix usermenu problem with Spanish language*/
.usermenu {
    float: right !important;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
